# Core dependencies
numpy
pandas
scikit-learn
tqdm

# Dense retrieval
transformers
torch

# Sparse retrieval
rank-bm25

# Utilities
jupyter
matplotlib
seaborn

beir
sentence-transformers
elasticsearch
